.Genres{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    margin-left: 28% */
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 70%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 323px;
}
.genres_link {
    font-size: 40px;
    text-decoration: none;
}
.genreName {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgb(92, 92, 92);
}
.genreName:hover {
    color: rgba(206, 103, 72, 0.911);
    text-decoration: underline;
}
.genre {
    display: flex;
    /* flex: 0 0 33.333333%; */
    flex: 15%;
    margin: 0px;
    margin-left: 31px;
}
