.Tracks {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.151);
  
}

.description {
    font-size: 20px;
    text-align: start;
}

.album_name {
    background-color: rgba(240, 248, 255, 0.151);
    
}

.text {
    font-size: 30px;
}

